
*{
  margin: 0 auto;
  box-sizing: border-box;
  line-height: 66px;
}

.head{
  width:100vw;
  height: 100px;
  background-color: #0D0D0D;
}

.head h1{
  color:#FFFFFF;
  display: inline-block;
  margin-left:110px;
  margin-top: 17px;
  font-size:38px;
}

.head img[src]{
  position: absolute;
  width:60px ;
  height:60px;
  left: 40px;
  top: 20px;
}

.container{
  position: relative;
  background-color: #FFFFFF;
  min-height: 100vh;
  width: 96vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}

.container div{
 box-shadow: 1px 1px 1px gray ;
 width: 120px;
 height: 100px;
 margin: 5px;
}

.container div p{
  padding-top: 18px;
  font-weight: bolder;
 text-align: center;
}

.lateral{
  position: relative;
  background-color: #0D0D0D;
  width: 20px;
  height: 780px;
	float: left;
}

.rodape{
  display: flex;
  flex-direction:column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 500px;
  color:#FFFFFF;
  background-color: #0D0D0D;
}

.rodape h2{
  font-size: 28px;
}

.rodape ul li {
  display: flex;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 2px 26px;
  text-decoration: none;
}


@media screen and (min-width: 360px) and (max-width: 540px){
    .lateral {
      height: 2100px;
    }
    .rodape {
      height: 550px;
    }
    .rodape h2 {
      text-align: center;
    }
}

@media screen and (min-width: 541px) and (max-width: 779px) {
  .lateral {
    width: 3vh;
    height: 1550px;
  }
  .rodape {
    height: 500px;
  }
  .rodape h2 {
    text-align: center;
  }
}

@media screen and (min-width: 780px) and (max-width: 938px) {
  .lateral {
    width: 3vh;
    height: 1250px;
  }
  .rodape {
    height: 500px;
  }
  .rodape h2 {
    text-align: center;
  }
  .rodape ul li {
    display: inline;
  }
}

@media screen and (min-width: 939px) and (max-width: 1090px) {
  .lateral {
    width: 3vh;
    height: 1140px;
  }
  .rodape {
    height: 500px;
  }

  .rodape h2 {
    text-align: center;
  }
  .li a {
    display: inline;
  }
}


