@import url('https://fonts.googleapis.com/css2?family=Ribeye+Marrow&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 66px;
  font-family: "Ribeye Marrow", cursive;
}

.head{
  width:100%;
  height: 100px;
  background-color: #0D0D0D;
}

.head h1{
  color:#FFFFFF;
  display: inline-block;
  margin-left:110px;
  margin-top: 17px;
  font-size:38px;
  font-family: "Ribeye Marrow", cursive;
}

.head img[src]{
  position: absolute;
  width:60px;
  height:60px;
  left: 40px;
  top: 20px;
}

.pesquisar{
  position: relative;
  float: right;
  top: 20px;
  right: 20px;
  display: flex;

}

.pesquisar input{
  height: 40px;
  outline-style: none;
  width: 300px;
}


.conteudo{
  min-height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: #0D0D0D;
  width: 100%;
  padding: left 20px;;

}

.container{
  width: 98%;
  min-height: 70vh;
  background-color: #FFFFFF;
  padding: 10px 0px 10px 10px ;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container div{
 box-shadow: 0 10px 8px -8px #d3d3d3;
 border: solid 1px #D3D3D3 ;
 border-radius: 3%;
 width: 120px;
 height: 100px;
 margin: 5px;
}

.container div p{
  letter-spacing: 2px;
  text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
  padding-top: 18px;
  font-size:18px;
  font-weight: bolder;
  text-align: center;
}

.rodape{
  display: flex;
  flex-direction:column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 140px;
  margin-bottom: 0;
  color:#FFFFFF;
  background-color: #0D0D0D;
}

.rodape h2{
  font-size: 28px;
}

.rodape ul{
  display: flex;
  justify-content: space-evenly;
}

.rodape ul li {
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
}

li a {
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

@media screen and (min-width: 661px) and (max-width: 1210px) {
  .container{
    justify-content: center;
  }

  .rodape h2{
    font-size:24px;
  }

  .rodape ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


  }

  .rodape ul li{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 2px;
  }
  li a{
   padding: 10px;
  }
  }

@media screen and (max-width: 880px){
  
  .head h1{
    font-size:28px;
  }

  .container{
    padding: 20px 0px 20px 40px;
  }
  .rodape{
    height: 270px;
  }
  .rodape h2{
    font-size:14px;
  }

  .rodape ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

  }

  .rodape ul li{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 2px;
  }

}

@media screen and (min-width: 890px) and (max-width: 1210px) {

  .rodape h2{
    font-size:24px;
  }

  .rodape ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


  }

  .rodape ul li{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 2px;
  }
  li a{
   padding: 10px;
  }
  }



